@model IEnumerable<EntityLibrary.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.objItems.NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.objItems.NAME)
            </td>
            <td>
                <a asp-action="Order" asp-route-id="@item.objItems.ID">Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
